<div class="row">
  <div class="col s12 l6 grey lighten-5" id="left">
    <div id="map-box">
      <h2 class="map-title">Map</h2>
      <img src="https://image.freepik.com/free-vector/blue-world-map_23-2147501019.jpg" class="map responsive-img z-depth-2" id="placeholder-map" alt="">
    </div>
    <!-- Dashboard stuffs here -->
  </div>
  <div class="col s12 l6 grey lighten-5" id="right">
    <h2 class="feed-title">Feed</h2>
    <div class="card z-depth-1 grey lighten-4">
      <div class="card-image z-depth-1 grey lighten-4">
        <img ng-src="{{  }}" alt="">
      </div>
      <div class="card-content z-depth-1 grey lighten-4">
        <div class="chip">
          <img ng-src="{{  }}" class="poster" alt="">{{  }}
        </div>
        <p class="message">test test test</p>
      </div>
      <div class="card-content z-depth-1 grey lighten-4">
        <div class="chip">
          <img ng-src="{{  }}" class="commenter" alt="">{{  }}
        </div>
        <p class="comments">{{  }}</p>
      </div>
    </div>
  </div>
</div>