<div>
    <!-- Country Dropdown Structure -->
  <ul id="country-dropdown" class="dropdown-content" ng-controller="NavbarController as navbar">
    <li ng-repeat="data in navbar.all.projects"><a ng-href="http://localhost:9000/#/country/{{ data.country }}"></a>{{ data.country }}</li>
  </ul>
 
<!--   <ul id="project-dropdown" class="dropdown-content" ng-controller="ProjectController as project">
      <li ng-repeat="data in project.projects"><a ui-sref="#!"></a>{{ data.acronym }}</li>
  </ul> -->

  <nav>
    <div class="nav-wrapper">
      <!-- Fix this to show profile photo if logged in; need to write custom directive here -->
      <!-- <a ng-hide="userSignedIn" ui-sref="profile" class="brand-logo right">Login</a> -->
      <!-- <a ng-hide="userSignedIn" ui-sref="login" class="brand-logo right">Logo</a> -->
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a ui-sref-active="active" ui-sref="home"><i class="large material-icons">dashboard</i></a></li>
        <li><a href="#!" class="dropdown-button" data-activates="country-dropdown">Country</a></li>
        <!-- <li><a href="#!" class="dropdown-button" data-activates="project-dropdown">Project</a></li> -->
      </ul>
    </div>
  </nav>
</div>