  <!-- Country Dropdown Structure -->
  <ul id="country-dropdown" class="dropdown-content">
    <!-- <li><a ui-sref=""></a></li> -->
  </ul>

  <nav>
    <div class="nav-wrapper">
      <!-- Fix this to show profile photo if logged in; need to write custom directive here -->
      <!-- <a ng-hide="userSignedIn" ui-sref="profile" class="brand-logo right">Login</a> -->
      <!-- <a ng-hide="userSignedIn" ui-sref="login" class="brand-logo right">Logo</a> -->
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a ui-sref-active="active" ui-sref="home"><i class="large material-icons">dashboard</i></a></li>
        <li><a href="badges.html">Country</a></li>
        <li><a href="collapsible.html">Project</a></li>
      </ul>
    </div>
  </nav>