.row {
  height: 98%;
}

/*.clear {
  clear: both;
}*/

#left {
  float: left;
  width: 50%;
  height: 100%;
  overflow: auto;
}

#right {
  float: right;
  width: 50%;
  height: 100%;
  overflow: auto;
}

#map-box {
  text-align: center;
}

#placeholder-map {
  width: inherit;
}